@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
  
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Bootstrap/MySheet.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
    <header style="background-color:brown"> 
       <br />
        <br />
        <table class="navTable">
    <tr>
        <td><a asp-controller="cars" asp-action="index">Home</a> </td>
        <td><a asp-controller="cars" asp-action="create">Create</a> </td>
    </tr>
</table>
    </header>
        <h1>List of cars site!</h1>

        <div>
            @RenderBody()
        </div>
    <footer style="background-color:brown">
        <br />
        <br />
        &copy; Cars inc
    </footer>
    </div>

    @*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>*@
    @RenderSection("scripts", false)


</body>
</html>
