@model CarsIndexVM[]

<table class="indexTable">
    <thead>
        <label asp-for="@Model.FirstOrDefault().Brand"></label>
    </thead>
    @foreach (var car in Model)
    {
        <tr>
            @if (car.ShowAsFast)
            {

                <td style="color:#4F7CA5">@car.Brand</td>
            }
            else
            {
                <td>@car.Brand</td>
            }
        </tr>
    }

</table>